@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
ul{margin:25px;border:1px solid blue;padding:45px 0 10px;}
li {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

li>span {
  width: 15%;
  margin: 0;
  flex-direction: row;
  border:1px solid violet;
  border-collapse:collapse;
  text-align:center;
}
