@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
input,button{margin: 5px;}
button {display:flex;border: 2px solid blue;border-radius:8px;padding: 5px 8px;}

input {display:flex;
  border: 1px solid blue;
  
}
h1 {
  font-size: x-large;
  text-align: center;
}
body {
  color: rgb(var(--foreground-rgb));
}
main{padding:30px;}
ul{margin:25px;border:1px solid blue;padding:45px 0 10px;}
li {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

li>span {
  width: 15%;
  margin: 0;
  flex-direction: row;
  border:1px solid violet;
  border-collapse:collapse;
  text-align:center;
}
nav {
  background: blueviolet;
  padding: 10px 30px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  align-content: center;
  gap: 30px;
  padding: 0;
  margin: 10px 30px;
  border: none;
}
nav ul a {
  text-decoration: none;
  color: #fff;
  font-weight:700;
}
.nav ul a:hover {
  text-decoration: underline;
}